body {
    margin: 0;
}

.top {
    width: 100%;
    height: 70px;
    background-color: deepskyblue;
    display: flex;
}

.navigation {
    color: white;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation ul {
    list-style-type: none;
    margin: 0%;
}

.navigation li {
    display: inline;
    line-height: 70px;
    margin-right: 20px;
    transition: all .7s ease-out;
}

.navigation li:hover {
    color: black;
}

.profile
{
    margin-right: 10px;
    color: white;
    margin-left: auto;
    line-height: 70px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    vertical-align: middle;
}

.sidebar {
    margin-left: 0;
    width: 20%;
    background-color: #023c7e;
    height: Calc(100vh - 70px);
    position: relative;
    display: inline-block;
}

.options {
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    transition: all .7s ease-out;
}

.options:hover {
    background-color: #002d61;
    cursor: pointer;
}

.bstick {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sidebar-main-right {
    background-color: white;
    width: 80%;
    height: Calc(100vh - 70px);
    position: absolute;
    display: inline-block;
}

.content-main {
    margin: 5%;
    color: #0097e3;
    display: inline-block;
    width: 70%;
}

.nav-2 {
    width: 100%;
    background-color: #023c7e;
    height: 40px;
    color: white;
    border-radius: 20px;
}

.menu {
    display: inline-block;
    margin-left: 15px;
    margin-top: 7px;
    background-color: #023c7e;
    color: deepskyblue;
    padding: 5px;
    border-radius: 12px;
    transition: all .7s ease-out;
}

.active {
    color: white;
}

.menu:hover {
    cursor: pointer;
    color: white;
    background-color: #002d61;
}

.content-sub {
    display: none;
    width: 95%;
    margin-left: 2.5%;
    height: 70vh;
    margin-top: 10px;
    background-color: cadetblue;
    overflow: scroll;
}

.active-sub {
    display: block;
}

.ads {
    display: inline-block;
    margin-right: 5%;
    margin-left: auto;
    height: 60vh;
    width: 10%;
    border: 2px dotted black;
}