@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.top {
    width: 100%;
    height: 70px;
    background-color: deepskyblue;
    display: flex;
}

.navigation {
    color: white;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation ul {
    list-style-type: none;
    margin: 0%;
}

.navigation li {
    display: inline;
    line-height: 70px;
    margin-right: 20px;
    transition: all .7s ease-out;
}

.navigation li:hover {
    color: black;
}

.profile {
    margin-right: 10px;
    color: white;
    margin-left: auto;
    line-height: 70px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    vertical-align: middle;
}

.sidebar {
    margin-left: 0;
    width: 20%;
    background-color: #023c7e;
    height: Calc(100vh - 70px);
    position: relative;
    display: inline-block;
}

.options {
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    transition: all .7s ease-out;
}

.options:hover {
    background-color: #002d61;
    cursor: pointer;
}

.bstick {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sidebar-main-right {
    background-color: white;
    width: 70%;
    margin-left: 20mm;
    margin-top: 10mm;
    height: Calc(100vh - 120px);
    position: absolute;
    display: inline-block;
    /* overflow-y: scroll; */
}

.container {
    background: #fff;
    padding: 0;
    border-radius: 7px;
    top: 15%;
    width: 100%;
    height: 100%;
    border-right: none;
}

.button-handler {
    display: flex;
    width: 72%;
}

.list-users.show {
    list-style: none;
    position: fixed;
    display: block;
    background-color: #fff;
    width: 35%;
    left: 25%;
    /* border: 1px solid rgb(14, 14, 117); */
    border-radius: 10px;
}

.profile-image {
    width: 50px;
    height: 43px;
    border-radius: 50%;
}

.selected {
    height: 47px;
    width: 58px;
    margin-right: 12px;
    padding-left: 0;
    margin-left: 0;
}

.clicked-user {
    display: flex;
    align-items: center;
}

#logo {
    width: 10%;
    height: 100%;
}

.settings-tray {
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
}

.settings-tray .no-gutters {
    padding: 10px;
}

.settings-tray--right {
    float: right;
    display: block;
}

.settings-tray--right i {
    margin-top: 10px;
    font-size: 25px;
    color: grey;
    margin-left: 14px;
    -webkit-transition: .3s;
    transition: .3s;
}

.settings-tray--right i:hover {
    color: #74b9ff;
    cursor: pointer;
}

.search-box {
    background: rgb(243, 241, 241);
    display: flex;
    padding: 10px 13px;
    align-items: center;
}

.search-box .input-wrapper {
    background: #fff;
    border-radius: 40px;
    padding: 4px 0;
}

.search-box .input-wrapper i {
    color: grey;
    margin-left: 7px;
    vertical-align: middle;
}

input {
    border: none;
    border-radius: 30px;
    width: 80%;
}

input::-webkit-input-placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input:-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input::-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input::placeholder {
    color: grey;
    font-weight: 300;
    margin-left: 20px;
}

input:focus {
    outline: none;
}

.list {
    overflow-y: scroll;
    width: 100%;
    height: 400px;
    background: rgb(243, 241, 241);
}

.add-button {
    text-align: center;
}

.add {
    width: 25%;
    padding: 5px;
    margin: 5px;
    left: 30%;
    height: 5%;
    background-color: rgb(40, 40, 116);
    color: #fff;
    font-weight: 200;
}

.close {
    margin: 15px;
    width: 50px;
    margin-left: 80%;
}

.addbtn {
    margin-left: 7px;
    color: #fff;
    font-weight: 400;
    /* padding: 8px; */
    background-color: rgb(42, 59, 212);
    border-radius: 50%;
}

#open-useradd:hover,
#close-useradd:hover {
    background-color: #fff;
    color: rgb(40, 40, 116);
}

.list-users {
    list-style: none;
    display: none;
}

.list-users.show div li {
    padding: 4px 5px;
    text-align: left;
}

.friend-drawer {
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: baseline;
    background: rgb(243, 241, 241);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.friend-drawer--grey {
    background: #eee;
}

.friend-drawer .text {
    margin-left: 12px;
    width: 100%;
}

.friend-drawer .text h6 {
    margin-top: 6px;
    margin-bottom: 0;
}

.friend-drawer .text p {
    margin: 0;
}

.friend-drawer .time {
    color: grey;
}

.text h4 {
    font-family: 'Urbanist', sans-serif;
    color: rgb(7, 7, 129);
    margin-bottom: 0;
}

.text h5 {
    margin: 0;
    padding: 0;
    color: rgb(34, 32, 32);
}

.friend-drawer--onhover:hover {
    background: #aed4eb;
    cursor: pointer;
}

.chat-panel {
    overflow-y: scroll;
}

.friend-drawer--onhover:hover p,
.friend-drawer--onhover:hover h6,
.friend-drawer--onhover:hover .time {
    color: #fff !important;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
}

.chat-bubble:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 0;
    margin-top: -10px;
}

.chat-bubble--left {
    width: 10%;
}

.chat-bubble--left:after {
    left: 0;
    border-right-color: #eee;
    border-left: 0;
    margin-left: -20px;
}

.chat-bubble--right {
    width: 10%;
    margin-left: 81%;
}

.chat-bubble--right:after {
    right: 0;
    border-left-color: #74b9ff;
    border-right: 0;
    margin-right: -20px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.offset-md-9 .chat-bubble {
    background: #74b9ff;
    color: #fff;
}

.chat-box-tray {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 8 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 15px;
    bottom: 0;
}

.chat-box-tray input {
    margin: 0 10px;
    padding: 6px 2px;
}

.chat-box-tray i {
    color: rgb(0, 0, 0);
    font-size: 20px;
    vertical-align: middle;
}

.chat-box-tray i:last-of-type {
    margin-left: 25px;
}

.profile-list {
    width: 30%;
    float: left;
}

#profile {
    font-family: 'Urbanist', sans-serif;
}

.col-md-8 {
    width: 65%;
    float: left;
    /* border: 1px solid rgb(115, 179, 223); */
    border-right: 1px solid #fff;
    height: 50%;
}

.send {
    color: #fff;
    background-color: rgb(42, 59, 212);
    border-radius: 50%;
    padding: 4px;
    margin: 0 7px;
    width: 3%;
    height: 3%;
}

#msg-input {
    background-color: rgb(231, 225, 225);
    padding-left: 23px;
    margin-top: 0;
}