body {
    background-color: deepskyblue;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(23, 22, 22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
}

.login-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
}

.login-box {
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px dimgray;
}

.login-title {
    color: #0097e3;
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-form {
    margin: 0 auto;
    display: grid;
    align-content: center;
}

.login-form-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

.cred-input {
    margin-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid #788692;
    color: #1a3754;
}

.login-btn {
    margin-top: 40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 40px;
    background-color: #0097e3;
    color: white;
    font-size: 15px;
    padding: 8px 20px 8px 20px;
}

.forgot {
    display: inline-block;
    text-align: right;
    font-size: 11px;
}

.forgot a {
    color: #0097e3;
    font-weight: 600;
}