body {
    margin: 0;
}

.top {
    width: 100%;
    height: 70px;
    background-color: deepskyblue;
    display: flex;
}

.navigation {
    color: white;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation ul {
    list-style-type: none;
    margin: 0%;
}

.navigation li {
    display: inline;
    line-height: 70px;
    margin-right: 20px;
    transition: all .7s ease-out;
}

.navigation li:hover {
    color: black;
}

.profile
{
    margin-right: 10px;
    color: white;
    margin-left: auto;
    line-height: 70px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    vertical-align: middle;
}

.sidebar {
    margin-left: 0;
    width: 20%;
    background-color: #023c7e;
    height: Calc(100vh - 70px);
    position: relative;
    display: inline-block;
}

.options {
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    transition: all .7s ease-out;
}

.options:hover {
    background-color: #002d61;
    cursor: pointer;
}

.bstick {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.sidebar-main-right {
    background-color: white;
    width: 80%;
    height: Calc(100vh - 70px);
    position: absolute;
    display: inline-block;
}

.content-main {
    margin-left: 5%;
    color: #0097e3;
}

.info {
    display: inline-block;
    height: 500px;
    width: 300px;
}

.info table {
    color: black;
}

.fields {
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

.info a {
    color: #0097e3;
    text-decoration: none;
}

.profilepic {
    display: inline-block;
    position: absolute;
    margin-top: -50px;
    margin-left: 10%;
}

.profilepic img {
    height: 300px;
    width: 300px;
    background-color: black;
    vertical-align: top;
    border-radius: 50%;
}