/* CSS Document */


.top {
    width: 100%;
    height: 70px;
    background-color: deepskyblue;
    display: flex;
}

.top2 {
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
}

.navigation {
    color: white;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation ul {
    list-style-type: none;
    margin: 0%;
}

.navigation li {
    display: inline;
    line-height: 70px;
    margin-right: 20px;
    transition: all .7s ease-out;
}

.navigation li:hover {
    color: black;
}

.profile
{
    margin-right: 10px;
    color: white;
    margin-left: auto;
    line-height: 70px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    vertical-align: middle;
}

.contact_us{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px dimgray;
	align-content: center;
	align-items: center;
	align-self: center;
}


.FAQ{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px dimgray;
	align-content: center;
	align-items: center;
	align-self: center;
}